@tailwind base;
@tailwind components;
@tailwind utilities;


section {
	@apply py-10 md:py-16 lg:px-20 px-5;
}

.container {
	@apply mx-auto;
}

.row {
	@apply max-w-7xl mx-auto;
}

.sectionTitle {
	@apply text-3xl sm:text-4xl font-bold !leading-6;
}

.sectionSubTitle {
	@apply font-bold text-faiz-300;
}

.faqAnswer a{
	@apply font-semibold underline;
}

p {
	@apply text-faiz-100;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

